<div>

  <header>
    <nav>
      <ul>
        <li>my profile
          <ul>
           
            <a href="/user/logout">
              <li>Logout</li>
            </a>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="calender">

    {{#each days}}
    <li>{{this}}</li>
  {{/each}}

  </div>

</div>