<div>


  <header>
    <button {{#if startWorkDisabled}} disabled {{/if}} onclick="startWork()">start Work</button>
    <button {{#if endWordDisabled}} disabled {{/if}}  onclick="endWork()">End Work</button>
    <button {{#if pauseStartDisabled}} disabled {{/if}}  onclick="pauseStart()">Pause Start</button>
    <button onclick="PauseEnd()">Pause End</button>
    <nav>
      <ul>
        <li>my profile
          <ul>
           
            <a href="/user/logout">
              <li>Logout</li>
            </a>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <div class="calender">

    {{#each days}}
    <li>{{this}}</li>
  {{/each}}

  </div>

</div>
<script src="/Js/Homescript.js"></script>