  <div class="login">
            <h1>Login</h1>
            <form class="login-content" method="post" action="/user/login" >
                <label>Username: <input type="text"  name="email" placeholder="Email"  /></label>
                <label>Password:<input type="password"  name="password" placeholder="password"  /></label>
                <button >login</button>
            </form>
        </div>
   